:root {
    --primary-color: #f6b332;
    --bg-color: #130f0d;
    --text-color: #f0f0f5;
    --light-color: rgba(255, 255, 255, 0.04);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: vicenta;
    src: url(fonts/vicenza/Vicenza.ttf) format("truetype");
}
@font-face {
    font-family: rise-of-kingdom;
    src: url(fonts/rise-of-kingdom/RiseofKingdom.ttf) format("truetype");
}
html{
    font-family: rise-of-kingdom;
    height: 100%;
}
h1{
    font-family: vicenta;
    text-align: center;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #130f0d;
    color: #f0f0f5;
}

form {
    background: rgba(255, 255, 255, 0.03);
    width: 100%;
    max-width: 500px;
    margin: 32px auto;
    padding: 32px 64px;
    display: flex;
    flex-direction: column;
}

form h1 {
    margin-bottom: 32px;
}

div.input {
    margin-bottom: 24px;
    position: relative;
}

input,
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    padding: 16px 0;
    border:none;
    border-bottom: 1px solid var(--primary-color);
    background-color: transparent;
    outline: none;

    color: var(--text-color);
    font-size: 1em;
}
button {
    margin-top: 16px;
    background-color: var(--primary-color);
    color: var(--bg-color);
}
input ~ label {
    position: absolute;
    top: 16px;
    left: 0;

    color: rgba(255, 255, 255, 0.6) ;
    transition: .4s;
}
input:focus ~ label,
input:valid ~ label {
    transform: translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}
.input span.error {
    display: flex;
    padding: 0;

    background-color: rgba(255, 0, 0, 0.2);
}
.input span.error.active {
    border: 1px solid red;
    padding: 0.4em;
}

#changePage, a {
    margin-top: 16px;
    font-family: rise-of-kingdom;
    text-align: center;
    color: honeydew;
}
footer {
    font-family: rise-of-kingdom;
    text-decoration: none;
    text-align: end;
    margin-right: 10px;
}